.flowersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flower__Card {
    background-color: snow;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    
}

.retailersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}

.retailer__Card {
    background-color: snow;
    border: 1px solid lightgray;
    border-radius: 6px;
    height: 381.23px;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    width: 364px;
}

.retailer__Card p {
    text-align: justify;
}

.retailer__Card lh {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
