.flowersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flower__Card {
    border: 1px solid lightgray;
    
}

.retailersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}

.retailer__Card {
    border: 1px solid lightgray;
    
}